html, body{
	background-color: #81c784;
	color: black;
	font-family: 'Open sans-serif', 'sans-serif';	
}
h1{
	font-size: 50px;
	font-family: 'Rajdhani', 'sans-serif';
	text-align: center;
}
h3{
	font-family: 'Rajdhani', 'sans-serif';
	font-size: 25px;
	padding: 10px;
}
header{
	width: 100%;
	background-color: white;
	margin-top: 0px;
	padding-top: 25px;
	padding-bottom: 20px;
}
img{	
	height: 80px;
}


.descriptif {
	text-align: justify;
	padding-bottom: 30px;
	font-size: 15px;
	margin: 10px;
	font-family: 'Open sans-serif', 'sans-serif';
}

a{
	
	text-decoration: none;
	color: #ffffff;
	letter-spacing: .1rem;
}
.login{
	padding:  25px;
	margin: 25px;
	font-size: 12px;
	letter-spacing: .1rem;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
}
.section{
	text-align: center;
	padding: 20px;
	font-family: 'Open sans-serif', 'sans-serif';
	font-size: 30px;

}
footer{
	position: absolute;
	padding: 10px;
	background-color: #000000;
	text-align: center;
	color: #ffffff;
	position: fixed;
	height: 45px;
	bottom: 0;
	width: 100%;
	text-decoration: none;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}
.btn{
	color:green;
}
/*Debut Bouton "Retour en haut de page*/
/*.btn_up {
	display: none;
	position:fixed;
	z-index:5;
	bottom:10px;
	right: 10px;
	z-index: 5;
	}*/
/*Fin Bouton "Retour en haut de page"*/